<!DOCTYPE html>
<html>
<head>
    <title>Genome Comparison</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- ✅ CORRECT WAY -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  
<body>
<!-- HEADER -->
<div class="header">
    <img src="/static/logo.svg" class="logo-img">

    <div class="title">BifidoBase</div>
    <div class="subtitle">Global Bifidobacterium Genome Database</div>
</div>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/search-page">Search</a>
    <a href="/compare-page">Compare</a>
    <a href="/annotation">Annotation</a>
</div>
<div class="container">

    <div class="compare-card">
        <h2>Genome Comparison Tool</h2>

        <div class="compare-inputs">
            <input list="accList1" id="acc1" placeholder="Enter accession (e.g. GCF_000...)">
            <input list="accList2" id="acc2" placeholder="Enter accession (e.g. GCF_000...)">
            <button onclick="compareGenomes()">Compare</button>
        </div>

        <datalist id="accList1"></datalist>
        <datalist id="accList2"></datalist>
    </div>

    <div id="compareResult" class="result-box"></div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
